
<br />
<br />
<br />
<br />
<br />
<br />
<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">


<%= form_for @blog, :html => {:class => "form-horizontal"} do|f| %>
<div class="form-group">
<%= f.label :"編集", :class => 'text-left' %>
<%= f.text_field :title, :class => 'form-control' %>
</div>
<br />
<div class="form-group">
<%= f.text_area :text, :class => 'form-control' %>
</div>
<br />
<%= submit_tag :submit, :class => "btn btn-primary" %>
<% end %>


</div>
