<section class="bg-primary" id="one">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">

                    <p>
                    <%= @blog.user.nickname %>の記事</p>
                    <br />
                    <h8>作成日&emsp;:&emsp;</h8>
                    <%= @blog.date %>

                    <br />
                    <h7>タイトル&emsp;:&emsp;</h7>

                    <%= @blog.title %>

                    <br />
                    <div class="well">
                    <p class="text-left text-muted">
                    <%= @blog.text %>
                    </p>
                </div>

                    <% if user_signed_in? && current_user.id == @blog.user_id %>
                    <%= link_to '編集', "/blogs/#{@blog.id}/edit", method: :get %>
                    <%= link_to '削除', "/blogs/#{@blog.id}", method: :delete %>


                    <% end %>


                </div>
            </div>
        </div>
    </section>
